<div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-block">

        <img class="card-text" src="{{image}}">
        <p class="card-text">{{name}}</p>
        <p class="card-text">{{description}}</p>
        <p class="card-text">{{dos}}</p>
        <p class="card-text">{{donts}}</p>
        <p class="card-text">{{multiplier}}</p>
        <p class="card-text">{{duration}}</p>

        <button class="btn btn-primary">Select Challenge</button>


    </div>
</div>
