<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Users</li>
    <li class="breadcrumb-item active">Challenges</li>

</ol>
{{#each challenges}}
    <div class="card">
        <img class="card-img-top" src="{{this.image-url}}" style="width: 100%;">
        <div class="card-block">


            <h2 class="card-text">Challenge Name: {{this.name}} ({{this.duration}} days)</h2>
            <h4 class="card-text">Description: {{this.description}}</h4>

            <p class="alert alert-success">Do's: {{this.dos}}</p>
            <p class="alert alert-danger">Dont's: {{this.donts}}</p>




            <form action="/users/update/" method="POST">
                <button type="submit" class="btn btn-primary btn-lg" href="#"  role="button" value="{{this.name}}">Select Challenge</button>

            </form>


        </div>
    </div>
    <br>
{{/each}}